#jumbo {
	background-repeat: no-repeat;
	background-position: 80%;
	background-size: contain;
	background-image: url("https://image.flaticon.com/icons/png/512/1693/1693056.png");
}
/* 
.jumbotron-fluid {
	margin-bottom: 0 !important ;
} */