#Hero2 {
	background-repeat: no-repeat;
	background-position: 10%;
	background-image: url("https://www.quickanddirtytips.com/sites/default/files/styles/insert_large/public/images/11421/how-to-organize-a-pantry.png?itok=kBHYdL0F");
}